
#course{
    width: 100%;
    height: 100%;
}

#select.in{
    position: inherit;
}

#select{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


/*** 精选 ***/
#select .weui-panel__hd{
    padding: 5px 15px 0;
    text-align: left;
    color: #909090;
    font-size: 13px;
}

#select .weui-panel__hd:after{
    border-bottom: none;
}

#select .weui-media-box{
    border-bottom: 1px solid #f0f0f0;
    display: block;
    overflow: hidden;
}
#select .weui-media-box.router{
    border-bottom: none;
}

#select .first{
    padding-top: 5px;
}

#select .weui-media-box:before{
    border-top: none;
}

#select .weui-media-box_appmsg .weui-media-box__hd{
    width: 0.68rem;
    height: 0.51rem;
    float: left;
    margin-top: 3px;
    position: relative;
}

#select .weui-media-box_appmsg .weui-media-box__hd>img{
    width: 100%;
    height: 100%;
}

#select .weui-media-box_appmsg .weui-media-box__hd>label{
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background: #ebebeb;
    position: absolute;
    bottom: -12px;
    right: -12px;
}
#select .weui-media-box_appmsg .weui-media-box__hd>label.choose{
    background: url("../../img/detail/choose.png") no-repeat;
    background-size: 100%;
}

#select .weui-media-box_appmsg .weui-media-box__hd>label>input{
    display: none;
}



#select .weui-media-box_appmsg .weui-media-box__bd{
    width: 2.1rem;
    min-height: 66px;
    float: left;
}

#select .weui-media-box_appmsg .weui-media-box__bd.router{
    position: relative;
}




#select .weui-media-box__title {
    text-align: left;
    font-size: 14px;
    color: #323232;
    line-height: 20px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#select .weui-media-box__desc{
    text-align: left;
    font-size: 12px;
    color: #909090;
    margin-top: 5px;
}

#select .weui-media-box__desc:last-child{
    margin-top: 12px;
}
#select .weui-media-box__desc:last-child.router{
    position: absolute;
    bottom: 0;
}
#select .weui-media-box__desc:last-child.router.two,
#select .weui-media-box__desc:last-child.router.three{
    bottom: -12px;
}
#select .weui-media-box__desc:last-child.router.two>i{
    display: block;
    width: 22px;
    height: 22px;
    background: url("../../img/item/play.png") no-repeat 0 0;
    background-size: 100%;
}
#select .weui-media-box__desc:last-child.router.three>i{
    display: block;
    width: 22px;
    height: 22px;
    background: url("../../img/item/voice.png") no-repeat 0 0;
    background-size: 100%;
}



#select .weui-media-box__info__meta{
    float: right;
    font-size: 13px;
    color: #c49327;
}



/*** 24堂课 ***/
#course .buy{
    position: fixed;
    width: 72px;
    height: 72px;
    bottom: 70px;
    right: 15px;
    z-index: 10;
    border-radius: 100%;
    background: url("../../img/buy.png") no-repeat;
    background-size: 100%;
}

#course .buy.close{
    border-radius: 100%;
    background: url("../../img/close.png") no-repeat;
    background-size: 100%;
}

#course .buy img{
    width: 100%;
}

#course .leftBuyBar{
    display: flex;
    color: #909090;
    position: fixed;
    width: 2.45rem;
    height: 0.29rem;
    line-height: 0.3rem;
    bottom: 90px;
    left: 10px;
    font-size: 12px;
    background: #fafafa;
}

#course .leftBuyBar.toLeftShow{
    animation: showBuyBarLeft 0.25s;
}

#course .leftBuyBar>.box{
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 0.03rem 0;
    width: 1.8rem;
}

#course .leftBuyBar>.box>div{
    float: left;
    height: 100%;
    line-height: 0.24rem;
}

#course .leftBuyBar>.box >.number{
    padding: 0 0.06rem 0 0.2rem;
    border-right: 1px #e7e7e7 solid;
    width: 0.55rem;
}

#course .leftBuyBar>.box>.price{
    padding: 0 0.06rem;
    width: 0.8rem;
    overflow: hidden;
}

#course .leftBuyBar button{
    border-radius: 2px;
    border: none;
    outline: none;
    width: 0.49rem;
    height: 0.29rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    position: absolute;
    right: 0;
    padding: 0;
}


@media screen and (max-width: 375px) {
    #course .leftBuyBar>.box >.number{
        padding: 0 0.06rem 0 0.06rem;
        width: 0.6rem;
    }
    #course .buy{
        right: 10px;
    }
    #course .leftBuyBar>.box>.price{
        width: 0.95rem;
    }
    #course .leftBuyBar button{
        right: 7px;
    }
}

@media screen and (max-width: 320px) {
    #course .buy{
        width: 50px;
        height: 50px;
        bottom: 58px;
        right: 13px;
    }
    #course .leftBuyBar{
        width: 2.55rem;
        bottom: 69px;
    }
    #course .leftBuyBar>.box{
        width: 2rem;
    }
    #course .leftBuyBar>.box >.number{
        width: 0.67rem;
        padding-right: 0.05rem;
        text-align: left;
    }
    #course .leftBuyBar>.box>.price{
        width: 1.03rem;
        text-align: left;
        padding-left: 0.05rem;
    }
    #course .leftBuyBar button{
        right: 3px;
    }
}

@keyframes showBuyBarLeft{
    from {
        opacity: 0;
        left: 40px;
    }

    to{
        opacity: 1;
        left: 10px;
    }
}



/*--.do  购买--*/
#footBuy{
    position: fixed;
    width: 100%;
    height: 0.36rem;
    bottom: 0;
    display: flex;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.1);
    background: #fafafa;
    z-index: 20;
}

#footBuy>.weui-btn-area{
    margin: 0;
}

#footBuy button{
    width: 0.93rem;
    height: 0.24rem;
    line-height: 0.24rem;
    font-size: 13px;
    margin: 0.06rem 0.1rem 0 0!important;
}

#flow{
    color: #b9984f;
    border-color: #b9984f;
}

#flow:not(.weui-btn_plain-disabled):active{
    color: #a5845b;
    border-color: #a5845b;
}

#footBuy >.weui-btn-area button:last-child{

}

/*#footBuy>img{*/
    /*width: 0.22rem;*/
    /*height: 0.22rem;*/
    /*margin: 0.06rem 0.45rem 0;*/
/*}*/
#footBuy i{
    display: block;
    background: url("../../img/detail/kefu.png") no-repeat;
    background-size: 100%;
    width: 0.22rem;
    height: 0.22rem;
    margin: 0.06rem 0.45rem 0;
}



/*# myCourse*/
#myCourse video{
    width: 3.2rem;
    position: absolute;
    left: 50%;
    margin-left: -1.6rem;
    max-height: 80%;
}

#myCourse .weui-popup{
    background: rgba(0, 0, 0, 0.5);
}