
#select.in{
    position: inherit;
}

/*** 精选 ***/
#select .weui-panel__hd{
    padding: 5px 15px 0;
    text-align: left;
    color: #909090;
    font-size: 13px;
}

#select .weui-panel__hd:after{
    border-bottom: none;
}

#select .weui-media-box{
    border-bottom: 1px solid #f0f0f0;
    display: block;
    overflow: hidden;
}

#select .first{
    padding-top: 5px;
}

#select .weui-media-box:before{
    border-top: none;
}

#select .weui-media-box_appmsg .weui-media-box__hd{
    width: 0.68rem;
    height: 0.51rem;
    float: left;
    margin-top: 3px;
}

#select .weui-media-box_appmsg .weui-media-box__hd>img{
    width: 100%;
    height: 100%;
}

.weui-media-box_appmsg .weui-media-box__bd{
    width: 2.1rem;
    min-height: 66px;
    float: left;
}

#select .weui-media-box__title {
    text-align: left;
    font-size: 14px;
    color: #323232;
    line-height: 20px;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#select .weui-media-box__desc{
    text-align: left;
    font-size: 12px;
    color: #909090;
    margin-top: 5px;
}

#select .weui-media-box__desc:last-child{
    margin-top: 12px;
}

#select .weui-media-box__info__meta{
    float: right;
    font-size: 13px;
    color: #c49327;
}






/*** 24堂课 ***/



/**** selectDetail  精选详情 ****/
#backTop{
    display: none;
    position: fixed;
    width: 40px;
    height: 40px;
    right: 15px;
    z-index: 10;
    border-radius: 100%;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.2);
}
#backTop img{
    width: 40px;
    height: 40px;
}
#backTop.up{
    display: block;
    animation: pop-up 0.5s;
    bottom: 60px;
}
#backTop.down{
    display: block;
    animation: pop-down 0.8s;
    bottom: -50px;
}

#selectDetail{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    bottom: 0.36rem;
}

#selectDetail  i{
    font-style: normal;
}

#selectDetail .head>img{
    width: 3.2rem;
    height: 2.4rem;
    background: #bfbfbf;
    vertical-align: top
}

#selectDetail .head>div{
    overflow: hidden;
    border-bottom: 5px #f0f0f0 solid;
}

#selectDetail .head>h3{
    font-weight: normal;
    font-size: 23px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 0.1rem;
    padding: 0 0.15rem 0 0.15rem;
    line-height: 30px;
}

#selectDetail .head .weui-panel__hd{
    width: 40%;
    text-align: left;
    float: left;
    padding: 0.13rem 0.15rem 0.22rem;
    font-size: 13px;
    line-height: 13px;
}

#selectDetail .head .weui-panel__hd:last-child{
    color: #c49327;
    text-align: right;
    font-size: 16px;
    line-height: 16px;
}

#selectDetail .head .weui-panel__hd:after {
    border: none;
}
/*--.body--*/
#selectDetail .body{
    border-bottom: 5px #f0f0f0 solid;
}

#selectDetail .body .weui-panel__hd{
    padding: 14px 0.075rem 12px;
    position: relative;
    height: 0.2rem;
    line-height: 0.2rem;
}

#selectDetail .body .weui-panel__hd:after {
    left: 0;
}

#selectDetail .body .weui-panel__hd>span{
    position: absolute;
}

#selectDetail .body .weui-panel__hd>.vedio{
    left: 0.09rem;
}

#selectDetail .body .weui-panel__hd>.vedio i{
    color: #323232;
    font-size: 14px;
}

#selectDetail .body .weui-panel__hd>.vedio img{
    padding-right: 0.09rem;
    height: 12px;
    width: auto;
}

#selectDetail .body .weui-panel__hd>.vedio img{
    color: #323232;
    font-size: 12px;
}

#selectDetail .body .weui-panel__hd>.more{
    right: 0;
    display: flex;
}

#selectDetail .body .weui-panel__hd>.more img{
    padding-right: 0.09rem;
    height: 21px;
    width: auto;
}

#selectDetail .body .weui-panel__hd>.more i{
    line-height: 23px;
}

#selectDetail .body h3{
    font-size: 14px;
    color: #909090;
    font-weight: normal;
    margin: 0.21rem 0 0.11rem 0.135rem;
    text-align: left;
}

#selectDetail .body>.detailInfo{
    position: relative;
    height: 3.4rem;
    overflow: hidden;
    background: #000000;
}
#selectDetail .body>.detailInfo.active{
    animation: long 1.0s;
    height: 6rem;
    overflow: initial;
}

#selectDetail .body>.detailInfo>.show{
    width: 100%;
    height: 0.7rem;
    position: absolute;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.9) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.9) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.9) 100%);
}

#selectDetail .body>.detailInfo>.show>h4{
    width: 100%;
    height: 0.25rem;
    color: #b9984f;
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    bottom: 0;
}


/*--.relate  相关推荐--*/
#selectDetail .relate{

}

#selectDetail .relate .weui-panel__hd{
    padding: 0.15rem 0 0.11rem 0.135rem;
    text-align: left;
    font-size: 14px;
    color: #323232;
}

#selectDetail .relate .weui-panel__hd:after{
    left: 0;
}


/*--.do  购买--*/
.do{
    position: fixed;
    width: 100%;
    height: 0.36rem;
    bottom: 0;
    display: flex;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.1);
    background: #fafafa;
    z-index: 20;
}

.do>.weui-btn-area{
    margin: 0;
}

.do button{
    width: 0.93rem;
    height: 0.24rem;
    line-height: 0.24rem;
    font-size: 13px;
    margin: 0.06rem 0.1rem 0 0!important;
}

#flow{
    color: #b9984f;
    border-color: #b9984f;
}

#flow:not(.weui-btn_plain-disabled):active{
    color: #a5845b;
    border-color: #a5845b;
}

.do >.weui-btn-area button:last-child{

}

.do>img{
    width: 0.22rem;
    height: 0.22rem;
    margin: 0.06rem 0.45rem 0;
}



/*动画*/
@keyframes long
{
    from {height: 3.4rem;}
    to {height: 6rem;}
}

@keyframes pop-up{
    0%   {bottom: 0;}
    100% { bottom: 60px;}
}

@keyframes pop-down{
    0%   {bottom: 60px;}
    100% { bottom: -50px;}
}

