.first>.weui-loadmore{
    line-height: 3.5rem;
    font-size: 16px;
}

.first>.weui-loadmore>.weui-loading{
    width: 22px;
    height: 22px;
}

.itemBox .weui-loadmore_line{
    margin-top: 0.2rem;
}

.weui-popup{
    background: #fafafa;
}

.weui-textarea ,.weui-input{
    margin-top: 0.1rem;
    color: #909090;
    opacity: 0.8;
    font-size: 15px;
    background: #fafafa;
}
.weui-btn_primary{
    background: #b9984f;
}
.weui-btn_primary:not(.weui-btn_disabled):active{
    background: #a5845b;
}

/**** 活动popup *****/
::-webkit-input-placeholder{
    color: #909090;
    opacity: 0.8;
}

.initiateInfo{
    margin: auto;
    width: 85%;
}

.initiateInfo>.actInfoItem{
    border-bottom: 1px #f0f0f0 solid;
    height: 0.8rem;
    margin-bottom: 0.1rem;
    position: relative;
}

.initiateInfo>.textArea{
    height: 1rem;
}

.initiateInfo>.actInfoItem:first-child{
    margin-top: 0.2rem;
}

.initiateInfo>.actInfoItem>h4{
    font-weight: normal;
    text-align: left;
    font-size: 18px;
}

.initiateInfo .weui-textarea-counter{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
}

.initiateInfo>button.weui-btn{
    width: 88%;
    position: fixed;
    bottom: 0.2rem;
    left: 50%;
    margin-left: -44%;
}



/**** 活动头部 *****/
.headerBox{
    height: 0.4rem;
}
.headerBox >.left, .headerBox >.right{
    display: inline-block;
    height: 100%;
    line-height: 0.4rem;
    position: relative;
}

.headerBox>.left{
    width: 20%;
    float: left;
    text-align: left;
}

.headerBox>.left>img{
    width: 25px;
    margin: 0.1rem 0 0 0.15rem;
}

.headerBox>.right{
    font-size: 18px;
    width: 20%;
    float: right;
}

/*.headerBox >.right>img{*/
    /*width: 20px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 50%;*/
    /*margin-top: -12px;*/
/*}*/


/**** 活动列表 *****/
.itemBox{
    width: 100%;
    overflow-x: hidden;
    /*overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0.4rem;
    bottom: 0.46rem;
}

.list{
    width: 100%;
}

.weui-loadmore_line .weui-loadmore__tips{
    background: #fafafa;
}

.infoItem {
    width: 100%;
    min-height: 1.17rem;
    position: relative;
    margin-bottom: 1px;
    border-bottom: 1px #f5f5f5 solid;
}

.infoItem>.top{
    overflow: hidden;
    padding: 0 0.11rem;
}

.infoItem a{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: normal;
}

.infoItem img{
    width: 0.85rem;
    height: 0.85rem;
    float: left;
    background: #d7d7d7;
    margin: 0.16rem 0 0 0;
}

.infoItem .tit-content{
    width: 1.97rem;
    height: 0.85rem;
    float: left;
    margin: 0.16rem 0 0 0.16rem;
    text-align: left;
    position: relative;
}

.infoItem h3{
    width: 100%;
    color: #323232;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    letter-spacing: 0;
    line-height: 25px;
}

.infoItem .deTile{
    width: 100%;
    color: #909090;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    /*line-height: 0.14rem;*/
}

.infoItem .time{
    font-size: 14px;
    color: #909090;
    line-height: 25px;
    letter-spacing: -1px;
}
.infoItem .time>span{
    color: #323232;
}

.infoItem .price{
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #646464;
}

.infoItem .price>span:first-child{
    display: inline-block;
    margin-top: 2px;
}

.infoItem .price>.vip{
    border: 1px #b9984f solid;
    color: #b9984f;
    border-radius: 4px;
    float: right;
    font-size: 11px;
    padding: 2px 6px;
    font-weight: bold;
    font-family: 微软雅黑;
    letter-spacing: 0;
}



/**** 活动详情 *****/
#selectDetail.actDetail .head>div{
    border-bottom: none;
}

#selectDetail.actDetail .head .weui-panel__hd{
    width: 90% !important;
    padding: 0.05rem 0.15rem 0.1rem 0.15rem !important;
}

#selectDetail.actDetail .weui-panel__hd:last-child{
    padding: 0 !important;
}

#selectDetail.actDetail .act{
    display: inline-block;
    color: #fff;
    background: #b9984f;
    font-size: 13px;
    padding: 4px 10px;
    margin-right: 10px;
    border-radius: 3px;
}

#selectDetail.actDetail ul>li{
    display: flex;
    padding: 14px 0.075rem 12px;
    height: 0.2rem;
    line-height: 0.2rem;
    border-bottom: 1px #E5E5E5 solid;
    font-size: 14px;
    position: relative;
}

#selectDetail.actDetail ul>li>i{
    flex: 0.12;
}
#selectDetail.actDetail ul>li>.text{
    flex: 0.23;
    text-align: left;
    color: #323232;
}
#selectDetail.actDetail ul>li>.value{
    flex: 0.57;
    text-align: right;
    color: #999;
}
#selectDetail.actDetail ul>li>.more{
    flex: 0.08;
    text-align: right;
    background: url("../../img/more.svg") no-repeat 50% 50%;
    background-size: 60%;
}

#selectDetail.actDetail ul>li>i.one{
    background: url("../../img/detail/time.png") no-repeat 50% 35%;
    background-size: 35%;
}
#selectDetail.actDetail ul>li>i.two{
    background: url("../../img/detail/address.png") no-repeat 50% 35%;
    background-size: 35%;
}
#selectDetail.actDetail ul>li>i.three{
    background: url("../../img/detail/price.png") no-repeat 50% 35%;
    background-size: 35%;
}
#selectDetail.actDetail ul>li>i.four{
    background: url("../../img/detail/vedio.png") no-repeat 50% 35%;
    background-size: 35%;
}


/*#mainBox{*/
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: 50px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    /*width: 100%;*/
    /*-webkit-overflow-scrolling: touch;*/
/*}*/

/*#mainBox .swiper-container{*/
    /*overflow: hidden;*/
/*}*/

/*#mainBox .swiper-container>img{*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/

/*#mainBox .msg-tit{*/
    /*line-height: 24px;*/
    /*font-size: 20px;*/
    /*width: 70%;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*color: #696969*/
/*}*/

/*#mainBox ul{*/
    /*padding-left: 15px;*/
/*}*/
/*#mainBox li{*/
    /*line-height: 60px;*/
    /*border-bottom: 1px #f0f0f0 solid;*/
    /*color: #696969;*/
    /*font-size: 17px;*/
    /*text-align: left;*/
/*}*/

/*#mainBox li>span:first-child{*/
    /*width: 18%;*/
    /*font-size: 1em;*/
    /*text-align: left;*/
    /*color: #AEAEAE;*/
    /*display: inline-block;*/
/*}*/

/*#mainBox li.msg-price>span:last-child{*/
    /*color: #c2b075;*/
/*}*/

/*#mainBox .content{*/
    /*padding: 20px 0;*/
    /*overflow: hidden;*/
    /*width: 95%;*/
    /*margin: auto;*/
/*}*/

/*#mainBox .content>h3{*/
    /*color: #c8a971;*/
    /*width: 96%;*/
    /*font-size: 18px;*/
    /*text-align: left;*/
/*}*/

/*#mainBox .content a{*/
    /*display: inline;*/
    /*text-decoration: none;*/
/*}*/

/*#mainBox .content img{*/
    /*width: 100%!important;*/
/*}*/

/*#mainBox .content>.content-text{*/
    /*font-size: 15px;*/
/*}*/

    /*!***底部按钮**!*/
/*footer{*/
    /*background: #eee;*/
    /*width: 100%;*/
    /*height: 0.4rem;*/
    /*line-height: 0.4rem;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*color: #fff;*/
    /*z-index: 1000;*/
/*}*/

/*footer>.time{*/
    /*color: #b0b0b0;*/
    /*width: 70%;*/
    /*height: 100%;*/
    /*text-align: center;*/
    /*margin: 0;*/
    /*float: left;*/
    /*font-size: 16px;*/
/*}*/

/*footer>button{*/
    /*height: 100%;*/
    /*width: 30%;*/
    /*border: none;*/
    /*color: #fff;*/
    /*background: #9c9c9c;*/
    /*font-size: 20px;*/
    /*float: right;*/
/*}*/

/*footer>button.active{*/
    /*background: #C8A971;*/
/*}*/

/*footer>button>a{*/
    /*color: #fff;*/
/*}*/

/*footer>button.outDate{*/
    /*background: #9c9c9c;*/
/*}*/

/*@media screen and (max-width: 320px) {*/
    /*.infoItem h3{*/
        /*-webkit-line-clamp: 1;*/
    /*}*/

    /*.infoItem .deTile{*/
        /*-webkit-line-clamp: 1;*/
    /*}*/
/*}*/







