#backTop{
    display: none;
    position: fixed;
    width: 72px;
    height: 72px;
    right: 15px;
    z-index: 10;
    border-radius: 100%;
    background: url("../../img/detail/backTop.png") no-repeat;
    background-size: 100%;
}
#backTop img{
    width: 40px;
    height: 40px;
}
#backTop.up{
    display: block;
    animation: pop-up 0.5s;
    bottom: 60px;
}
#backTop.down{
    display: block;
    animation: pop-down 0.5s;
    bottom: -75px;
}


/*动画*/
@keyframes pop-up{
    0%   {bottom: 0;}
    100% { bottom: 60px;}
}

@keyframes pop-down{
    0%   {bottom: 60px;}
    100% { bottom: -50px;}
}
