#order h3,#order h4{
    color: #323232;
    font-weight: normal;
    text-align: left;
}

#order i{
    font-style: normal;
}

#order .head{
    width: 100%;
    max-height: 1.1rem;
    position: fixed;
    top: 0;
    border-bottom: 10px #f5f5f5 solid;
}

#order .head a{
    float: left;
    font-size: 14px;
    color: #909090;
    border: none;
}

#order .head>div{
    width: 3.2rem;
    display: flex;
}

#order .head>.tab{
    margin-top: 0.4rem;
    margin-bottom: 0.1rem;
}
#order .head>.tab a{
    font-size: 15px;
    display: inline-block;
    flex: 0.5;
}
#order .head>.tab a.active{
    color: #323232;
}

#order .head>.status{
    margin-top: 0.15rem;
    margin-bottom: 0.1rem;
}
#order .head>.status a{
    display: inline-block;
    border-right: 1px #f0f0f0 solid;
    flex: 0.25;
}
#order .head>.status a.active{
    color: #b9984f;
}


#order .orderList{
    position: fixed;
    top: 1.1rem;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#order .orderList.two{
    top: 0.77rem;
}

#order .orderList>.none{
    width: 1rem;
    margin: 0.5rem auto 0 auto;
}
#order .orderList>.none>i{
    display: block;
    width: 1rem;
    height: 1rem;
    background: url("../../img/userInfo/noOrder.png") no-repeat;
    background-size: 100%;
}
#order .orderList>.none>h3{
    font-size: 16px;
    text-align: center;
}
#order .orderList>.none>a{
    text-decoration: none;
    font-size: 15px;
    color: #b9984f;
    border-bottom: none;
    margin: 0.03rem 0 0.04rem 0;
    display: inline-block;
}


/* .actOrderItem  */

#order .actOrderItem{
    width: 3rem;
    padding: 0.1rem 0.1rem 0 0.1rem;
    overflow: hidden;
}

#order .actOrderItem>img{
    float: left;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.15rem;
}

#order .actOrderItem>.detail{
    float: left;
    width: 2.05rem;
    height: 0.8rem;
    text-align: left;
    position: relative;
}

#order .actOrderItem>.detail h4{
    font-size: 15px;
    margin: 0.01rem 0 0.04rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 1.5rem;
}

#order .actOrderItem>.detail span{
    font-size: 14px;
    color: #c1af74;
    position: absolute;
    right: 0;
    top: 0.02rem;
}

#order .actOrderItem>.detail .time{
    font-size: 12px;
    position: absolute;
    bottom: 0.22rem;
    width: 1.8rem;
    color: #9f9f9f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.15rem;
}
#order .actOrderItem>.detail .time:after{
    content: ' ';
    display: block;
    position: absolute;
    width: 0.1rem;
    height: 0.18rem;
    background: url("../../img/userInfo/time.png") no-repeat 0 0.02rem;
    background-size: 100%;
    top: 0;
    left: 0;
}

#order .actOrderItem>.detail .address{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    color: #9f9f9f;
    width: 1.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.15rem;
}

#order .actOrderItem>.detail .address:after{
    content: ' ';
    display: block;
    position: absolute;
    width: 0.1rem;
    height: 0.18rem;
    background: url("../../img/userInfo/address.png") no-repeat;
    background-size: 100%;
    top: 0;
    left: 0;
}


/* .goodOrderItem  */
#order .goodOrderItem{
    width: 100%;
    border-bottom: 10px #f5f5f5 solid;
}

#order .goodOrderItem h4{
    height: 0.3rem;
    line-height: 0.3rem;
    border-bottom: 1px #f0f0f0 solid;
    font-size: 15px;
    padding: 0 0.1rem;
    position: relative;
}
#order .goodOrderItem h4:before{
    content: ' ';
    display: block;
    position: absolute;
    width: 0.02rem;
    height: 0.14rem;
    background: #b9984f;
    left: 0;
    top: 50%;
    margin-top: -0.07rem;
}
#order .goodOrderItem h4>i{
    float: right;
    color: #b9984f;
}

#order .goodOrderItem h4+div{
    padding: 0.1rem;
    border-bottom: 1px #f5f5f5 solid;
    height: 0.6rem;
}
#order .goodOrderItem img{
    width: 0.6rem;
    height: 0.6rem;
    float: left;
}

#order .goodOrderItem p{
    color: #323232;
    text-align: left;
    float: left;
    font-size: 14px;
    width: 2.3rem;
    margin: 0 0 0 0.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#order .goodOrderItem p:nth-child(3){
    font-size: 13px;
    color: #909090;
}

#order .goodOrderItem p:last-child{
    margin-top: 0.15rem;
}

#order .goodOrderItem p:last-child>.num{
    float: right;
}

#order .goodOrderItem>div:last-child{
    padding: 0 0 0 0.1rem;
    height: 0.35rem;
    line-height: 0.35rem;
    font-size: 14px;
    text-align: left;
}

#order .goodOrderItem>div:last-child i{
    color: #b9984f;
}

#order .goodOrderItem>div:last-child button{
    float: right;
    margin: 0.06rem 0.1rem 0 0;
}

#order .weui-panel__hd:after{
    border-bottom: none;
}

#order .weui-panel__hd>.weui-btn:after{
    border: none;
}

@media screen and (max-width: 320px){
    #order .orderList{
        top: 1.2rem;
    }
    #order .goodOrderItem p:last-child{
        margin-top: 0;
    }
    #order .weui-btn_mini{
        line-height: 1.9;
    }
}


/*订单详情*/
#order .actOrderDetail{
    margin-top: 0.4rem;
}

#order .actOrderDetail ul{
    margin-top: 0.15rem;
}

#order .actOrderDetail li{
    border-bottom: 1px solid #ccc;
    padding: 0.1rem 0.1rem;
    font-size: 14px;
    text-align: left;
}

#order .actOrderDetail li>span:last-child{
    color: #999;
    font-size: 15px;
    padding-left: 0.2rem;
}
/***/
#order .goodOrderDetail{
    font-size: 14px;
    color: #323232;
    margin-top: 0.4rem;
    overflow-x: hidden;
}

#order .goodOrderDetail>div{
    border-bottom: 10px #f0f0f0 solid;
}

#order .goodOrderDetail h3{
    font-size: 14px;
    border-bottom: 1px #ebebeb solid;
    height: 0.3rem;
    line-height: 0.3rem;
}

#order .goodOrderDetail li{
    text-align: left;
    height: 0.3rem;
    line-height: 0.3rem;
    padding-left: 0.15rem;
}

#order .goodOrderDetail li:first-child{
    padding-top: 0.05rem;
}
#order .goodOrderDetail li:last-child{
    padding-bottom: 0.05rem;
    position: relative;
}

#order .goodOrderDetail li:last-child>button{
    position: absolute;
    height: 0.2rem;
    bottom: 0;
    right: 0.15rem;
    top: 50%;
    margin-top: -0.1rem;
    border-radius: 0;
}

#order .goodOrderDetail li>span.two{
    color: #909090;
    padding-left: 0.2rem;
}

#order .goodInfo>.itemGood{
    overflow: hidden;
    padding: 0.15rem 0 0.1rem 0.15rem;
    width: 3rem;
}

#order .goodInfo>.itemGood img{
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.1rem;
    float: left;
}
#order .goodInfo>.itemGood div{
    float: left;
}
#order .goodInfo>.itemGood div>p{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 2.2rem;
}

#order .goodInfo>.itemGood div>p:first-child{
    font-size: 15px;
}
#order .goodInfo>.itemGood div>p:nth-child(2){
    font-size: 14px;
    color: #909090;
}
#order .goodInfo>.itemGood div>p:last-child{
    color: #b9984f;
    font-size: 13px;
    margin-top: 0.12rem;
    width: 2.05rem;
    padding-right: 0.15rem;
}
#order .goodInfo>.itemGood div>p:last-child>span{
    color: #323232;
    float: right;
}

#order .other>.remarkCnt{
    text-align: left;
    border-bottom: 10px #f0f0f0 solid;
    min-height: 0.4rem;
    padding: 0.1rem 0.15rem;
}

#order .other h3{
    height: 0.4rem;
    line-height: 0.4rem;
    border-bottom: 1px #ebebeb solid;
    padding-right: 0.15rem;
}
#order .other h3>span:last-child{
    color: #909090;
    float: right;
}

#order .other{
    margin-bottom: 0.35rem;
}

#order .other p:last-child{
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: right;
    padding-right: 0.15rem;
}

#order .goodOrderDetail>button{
    position: fixed;
    bottom: 0;
}