
header {
    color: #8B8B8B;
    width: 100%;
    height: 0.4rem;
    position: fixed;
    top: 0;
    background-color: #fafafa;
    z-index: 20;
    text-align: center;
    /*border-bottom: rgba(172, 172, 172, 0.37) solid 1px;*/
}


/***** headerBar  *****/
header.headBar{
    width: 30%;
    left: 50%;
    margin-left: -15%;
}

header.headBar.full{
    width: 100%;
    left: 0;
    margin-left: 0;
}

header span{
    font-size: 20px;
    display: inline-block;
    line-height: 0.4rem;
    text-align: center;
    text-decoration: none;
    color: #323232;
}


/***** headerNav  *****/
.headerNav{
    top: 0.4rem;
    border-top: none;
    height: 0.25rem;
}

.headerNav > a{
    display: inline-block;
    width: 34%;
    line-height: 0.25rem;
    text-align: center;
    text-decoration: none;
    color: #909090;
    font-size: 14px;
}

.headerNav > a:first-child{
    text-align: right;
    padding-right: 8%;
}

.headerNav > a:last-child{
    text-align: left;
    padding-left: 8%;
}

.headerNav>a>span{
    position: relative;
}

.headerNav>a>span>i{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(196,147,39,0.6);
    bottom: -0.12rem;
    left: 50%;
    margin-left: -7px;
}

.headerNav > a.active_headerNav{
    color: #323232;
    font-size: 16px;
}

.lists{
    margin-top: 50px;
}


.headBar >.back{
    position: absolute;
    left: 0.15rem;
    font-size: 25px;
    font-weight: bold;
}



