
#swipe{
}

#swipe .react-swipe-container.carousel{
    width: 100%;
    height: 100%;
}

#swipe .swiper{
    width: 3.2rem;
    height: 1.6rem;
    background: #d8d6d6;
}


#swipe img{
    width: 100%;
    height: auto;
}


#swipe .swipeBox{
    width: 100%;
    position: relative;
}

#swipe .paginationBox{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50%;
}

#swipe .pagination{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #5b5b5b;
    margin: 0 5px;
}

#swipe .pagination.active{
    background: #fafafa;
}

