body,html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa;
}

html{
  font-size: 100px;
}

body{
  font-size: 0.15rem;
}


ul, li{
  list-style: none;
}

#root{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.panel, .panel-body{
  height: 100%;
  width: 100%;
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  /*position: fixed;*/
  /*bottom: 0.46rem;*/
  /*-webkit-overflow-scrolling: touch;*/
}

.weui-popup>div{
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar{
  display: none;
}